section.ant-layout.ant-layout-has-sider.admin__menu.css-dev-only-do-not-override-mxhywb {
    height: calc(100vh - 16px);
}

.dropdown_admin {
    margin-left: 1200px;

    span {
        font-size: 16px;
    }
}